<table class="active_payments zebra-striped">
  <thead>  
    <tr>
      <th class="link">Link</th>
      <th class="amount">Amount</th>
      <th class="total_collected">Total collected</th>
      <th class="description">Description</th>
      <th class="action">Action</th>
    </tr>
  </thead>
  <% invoices.each_with_index do |invoice, i| %>
    <tbody>
      <tr>
        <td class="link"><%= invoice_token_link invoice.token %></td>
        <td class="amount"><%= span_for_currency invoice.amount %></td>
        <td class="total_collected">
          <%= span_for_currency invoice.total_collected %>
          <ul class="unstyled payment_footnotes">
            <% invoice.payments.each do |payment| %>
              <li>
                <%= link_to (number_to_currency payment.amount), payment %>
              </li>
            <% end %>
          </ul>
        </td>
        <td class="description"><%= invoice.description %></td>
        <td class="action">
          <% if invoice.not_yet_used? %>
            <%= link_to 'Edit', edit_invoice_path(invoice), :class => "btn small" %> 
          <% else %>
            <%= link_to 'Edit', edit_invoice_path(invoice), :title => "Sorry, you cannot edit a link through which at least one payment has occurred.", :rel => "popover", :class => "btn small tipsy_tooltip disabled", :id => "popover_#{i}" %>
          <% end %>
          <%= link_to 'Remove', invoice, confirm: 'Are you sure?', method: :delete, class: "btn small" %>
        </td>
      </tr>
    </tbody>
  <% end %>
</table>
