<%= content_for :header do %>
  <% unless user_signed_in? %>
    <%= form_for(resource, :as => resource_name, :url => registration_path(resource_name) ) do |f| %>
      <%= devise_error_messages! %>
      <div class="home_sign_up row" style="width: 480px; margin:0 auto;margin-top:50px">
        <%= f.email_field :email, :placeholder => "Email", :class => "span3", :style => "padding: 10px;margin: 5px" %>
        <%= f.password_field :password, :placeholder => "Password", :class => "span3", :style => "padding: 10px;margin: 5px", :autocomplete => 'off' %>
        <%= f.submit "Sign up", :class => "btn primary", :style => "padding: 10px;margin: 5px" %>
      </div>
    <% end %>
  <% end %>
<% end %>

<section class="reason">
<div class="row">
  <div class="span-two-thirds">
    <h1 class="page-header">
      Payslip - Simple and Reusable Invoicing
    </h1>
    <ul>
      <li>Simple &mdash; Credit card payment processed through a single payslip link </li>
      <li>Reusable &mdash; One single payslip can accept multiple, repeat payments over time</li>
      <li>Social Media Friendly &mdash; Share your payslip on your favorite social networks to accept payments from acquaintances or your acquaintances' acquaintances. The possibility is endless.</li>
      <li><%= link_to "hipay.me", root_url %> lets you do all that with no development steps</li>
    </ul>
  </div>
  <div class="span-one-third">
    <%= image_tag 'simplebilling.png', :class => "span4" %>
  </div>
</div>
</section>

<section class="reason odd">
  <div class="row">
    <div class="span-one-third">
      <%= image_tag "fastsecurepayment.png", :class => "span4" %>
    </div>
    <div class="span-two-thids">
      <h1 class="page-header">Fast, Secure Payment for Freelancers</h1>
      <p>
        <ul>
          <li>No need to set up merchant accounts. We've been there and know your pain</li>
          <li>Your friend or client's credit card number is submitted securely and will never reach our server</li>
          <li>Checks are so old-school</li>
        </ul>
      </p>
    </div>
  </div>
</section>  

<section class="reason">
  <div class="row">
    <div class="span-two-thirds">
      <h1 class="page-header">Pricing</h1>
      <p>Streamlined pricing - <%= link_to "hipay.me", root_url %> basic service is free!
        <ul>
          <li>We use <%= link_to "Stripe", "https://stripe.com" %> to process payments to your account - 2.9% + 30c per successful transaction</li>
          <li>Addon custom layout and logo for only $1 per transaction</li>
          <li>Addon custom domain & SSL for only $1 per transaction</li>
        </ul>
      </p>
    </div>
    <div class="span-one-third">
      <%= image_tag "pricing.png", :class => "span4" %>
    </div>
  </div>
</section>

<section class="reason odd" style="margin: 3em auto; width: 640px; padding-bottom: 40px;">
  <div class="row">
    <h1 class="page-header">How it Works</h1>
    <iframe src="http://player.vimeo.com/video/30944397?title=0&amp;byline=0&amp;portrait=0" width="640" height="295" frameborder="0" webkitAllowFullScreen allowFullScreen></iframe>
  </div>
</section>
