<%= content_for :header do %>
  <% unless user_signed_in? %>
    <%= form_for(resource, :as => resource_name, :url => registration_path(resource_name) ) do |f| %>
      <%= devise_error_messages! %>
      <div class="row" style="width: 480px; margin:0 auto;margin-top:50px">
        <%= f.email_field :email, :placeholder => "Email", :class => "span3", :style => "padding: 10px;margin: 5px" %>
        <%= f.password_field :password, :placeholder => "Password", :class => "span3", :style => "padding: 10px;margin: 5px", :autocomplete => 'off' %>
        <%= f.submit "Sign up", :class => "btn success", :style => "padding: 10px;margin: 5px" %>
      </div>
    <% end %>
  <% end %>
<% end %>

<section class="reason">
<div class="row">
  <div class="span-two-thirds">
    <h1 class="page-header">Simple Billing for Clients</h1>
    <ul>
      <li>You're a freelancer</li>
      <li>You don't want to wait 30-90 days to be paid via paper invoice</li>
      <li>You want your clients to pay you easily and securely through credit cards</li>
      <li><%= link_to "hipay.me", root_url %> lets you do all that with no development steps</li>
    </ul>
  </div>
  <div class="span-one-third">
    <%= image_tag 'simplebilling.png', :class => "span4" %>
  </div>
</div>
</section>

<section class="reason odd">
  <div class="row">
    <div class="span-one-third">
      <%= image_tag "fastsecurepayment.png", :class => "span4" %>
    </div>
    <div class="span-two-thids">
      <h1 class="page-header">Fast, Secure Payment for Freelancers</h1>
      <p>
        <ul>
          <li>Average wait time for mailed cash: Forever - no guarentees!</li>
          <li>Setting up your own merchant, gateway, and processor accounts: 30 days or more!</li>
          <li>Average wait time for mailed checks: 7 days</li>
        </ul>
      </p>
    </div>
  </div>
</section>  

<section class="reason">
  <div class="row">
    <div class="span-two-thirds">
      <h1 class="page-header">Pricing</h1>
      <p>Streamlined pricing - <%= link_to "hipay.me", root_url %> basic service is free!
        <ul>
          <li>We use Stripe to put money in your account - 2.9% + $.30 per transaction</li>
          <li>Addon custom layout and logo for only $1 per transaction</li>
          <li>Addon custom domain & SSL for only $1 per transaction</li>
        </ul>
      </p>
    </div>
    <div class="span-one-third">
      <%= image_tag "pricing.png", :class => "span4" %>
    </div>
  </div>
</section>

<section class="reason odd" style="margin: 3em auto; width: 640px; padding-bottom: 40px;">
  <div class="row">
    <h1 class="page-header">How it Works</h1>
    <iframe src="http://player.vimeo.com/video/30944397?title=0&amp;byline=0&amp;portrait=0" width="640" height="295" frameborder="0" webkitAllowFullScreen allowFullScreen></iframe>
  </div>
</section>
