<p class="medium">
  To accept real payments, you only need to create an account with https://stripe.com, and fill in the Stripe public and private keys (obtained from <%= link_to "https://manage.stripe.com/account", "https://manage.stripe.com/account" %>) below.
</p>

<%= form_tag stripe_setup_path, :class => "form-stacked" do %>
  <div class="row">
    <div class="span6">
    <fieldset>
      <div class="clearfix">
        <%= label_tag 'stripe_live_public_key' %>
        <div class="input">
          <%= text_field_tag 'stripe[live][public_key]', @user.live_stripe_public_key %>
        </div>
      </div>

       <div class="clearfix">
        <%= label_tag 'stripe_live_private_key' %>
        <div class="input">
          <%= text_field_tag 'stripe[live][private_key]', @user.live_stripe_private_key %>
        </div>
      </div>
      <%= submit_tag "Save changes", :class => "btn primary" %>
      <p>
      </p>
      <div>
        <span id="toggle-extra-view" style="cursor:pointer;" class="label info">
          Add your Stripe test keys as well
        </span>
        <div style="display:none">
          <div class="clearfix">
            <%= label_tag 'stripe_test_public_key' %>
            <div class="input">
              <%= text_field_tag 'stripe[test][public_key]', @user.test_stripe_public_key %>
            </div>
          </div>

           <div class="clearfix">
            <%= label_tag 'stripe_test_private_key' %>
            <div class="input">
              <%= text_field_tag 'stripe[test][private_key]', @user.test_stripe_private_key %>
            </div>
          </div>
        </div>
      </div>
    </fieldset>
  </div>
  <div class="span9">
    <% if @user.live_mode? %>
      <h3>To go back to Demo mode...</h3>
      <%= link_to "Go back to Demo mode", confirm_demo_path, :class => "btn large" %>
    <% else %>
      <% if @user.using_global_test_keys? %>
        <p class="medium">Your account is currently linked with a default Stripe test account. You can <%= link_to "sign in on Stripe", "https://manage.stripe.com/login" %> with the following credentials to check out the test charges you made so far. </p>
        <p>
          <strong style="width:100px;display:inline-block;">Email</strong> stripe_test@hipay.me<br />
          <strong style="width:100px;display:inline-block">Password</strong> hipayme
        </p>
        <p>
          Please note this account has test charges from other new users as well. To see only your own test charges, <%= link_to "input your own test public and private keys", "#", :onclick => "$('#toggle-extra-view').click();return false;" %> on the left and click <strong>Save changes</strong>.
        </p>
      <% end %>
      
      <% if @user.live_keys_present? %>
        <h3> 
          It seems that you have the live keys set up. Please double check the values and you can... 
          <%= link_to "Go live now", confirm_live_path, :class => "btn success large" %>
        </h3>
      <% end %>
    <% end %>
    </div>
  </div>
<% end %>
<script type="text/javascript" language="javascript" charset="utf-8">
//<![CDATA[
$(function(){
    $("#toggle-extra-view").click(function(){
        $(this).next().slideToggle();
    })
})
//]]>
</script>
