<% unless @invoice %>
  <h1>Not Found.</h1>
<% else %>
  <%= content_for :head do %>
    <%= tag :meta, :name => "stripe-key", :content => @invoice.user.stripe_public_key %>
  <% end %>

  <% if @invoice.name %>
    <h1>Hi <%= @invoice.name %>,</h1>
  <% end %>

  <h2>
    You are about to pay <%= number_to_currency @invoice.amount %> to <%= @invoice.user %>.
  </h2>

  <div>Note from <%= @invoice.user %>:<br />
    <%= simple_format @invoice.description %>
  </div>

  <%= form_for @payment do |f| %>
    <% unless @invoice.user.live_mode? %>
      <div class="warning" style="color:brown;">
        Please note you are in <strong>Demo</strong> mode. The only credit card number that works is <strong>'4242424242424242'</strong>
      </div>
    <% end %>

    <fieldset style="width: 600px;margin-bottom:6em">
      <div class="alert-message error" style="display:none">
        <span id="stripe_error">
          <noscript style="display:block !important">JavaScript is not enabled and is required for this form. First enable it in your web browser settings.</noscript>
        </span>
      </div>

      <div class="clearfix">
        <%= label_tag :card_number %>
        <div class="input">
          <%= text_field_tag :card_number %>
        </div>
      </div>

      <div class="clearfix">
        <%= label_tag "Expiry date" %>
        <div class="input">
          <%= select_month nil, {add_month_numbers_true: true}, {name: nil, id: "card_month", class: "small"}%>
          <%= select_year nil, {start_year: Date.today.year, end_year: Date.today.year+15}, {name: nil, id: "card_year", class: "mini"}%>
        </div>
      </div>

      <div class="clearfix">
        <%= label_tag :card_code, "CVV" %>
        <div class="input">
          <%= text_field_tag :card_code, nil, name: nil, class: "span1" %>
        </div>
      </div>

      <%= f.hidden_field :invoice_token, :value => params[:invoice_token] %>
      <%= f.hidden_field :stripe_card_token %>
      <%= f.hidden_field :description_for_stripe, :value => pay_invoice_by_token_url(params[:invoice_token]) %>
      
      <div style="padding-left:90px" data-alert="alert">
        <%= submit_tag "Pay now", :class => "btn primary medium" %>
      </div>
    </fieldset>
  <% end %>
<% end %>
