<div class="receipt_form alert-message block-message success fade in" data-alert="alert">
  <%= link_to "#", :class => "close" do %>
    &times;
  <% end %>
  <h3>
    Credit card ending <span class="last4">#<%= @payment.last4 %></span> was charged <%= span_for_currency @payment.invoice.amount %>
  </h3>

  <%= form_for @payment, :html => {:class => "form-stacked"} do |f| %>
    <div class="clearfix">
      <p></p>
      <%= f.label :email, "Enter your email below to get a copy of the receipt" %>
      <div class="inline-inputs">
        <%= f.text_field :email, :class => "span5" %>
        <%= f.submit 'Submit', :class => "btn primary" %>
      </div>
    </div>
    <div class="clearfix">
      <strong>OR,</strong> <%= link_to "Download receipt as PDF", invoice_payment_url(@payment, :format => "pdf"), :class => "btn primary" %>
    </div>
  <% end %>
</div>

<%= render @payment.invoice %>
