<!DOCTYPE html>
<html>
  <head>
    <title>hipay.me</title>
    <%= stylesheet_link_tag    "application" %>
    <%= javascript_include_tag "https://js.stripe.com/v1/", "application" %>
    <%= csrf_meta_tags %>
    <%= tag :meta, :name => "stripe-key", :content => TEST_STRIPE_PUBLIC_KEY %>
  </head>
  <body>
    <div class="topbar">
      <div class="topbar-inner">
        <div class="container">
          <%= link_to "H!pay.me", root_url, :class => "brand" %>
          <ul class="nav">
            <li class="active"><%= link_to "Home", root_url %></li>
            <li><%= link_to "Dashboard", dashboard_url %></li>
            <li><%= link_to "About Us", nil %></li>
          </ul>
          <ul style="float:right">
            <% if user_signed_in? %>
              <li style="float:right">
                <%= link_to go_live_path, :title => "You can create as many test charges as you like while unactivated. Provide account information to activate instantly.", :class => "tipsy_tooltip" do %>
                  <% if current_user.live_mode? %>
                    <span class="label success more_padding">LIVE</span>
                  <% else %>
                    <span class="label warning more_padding">DEMO</span>
                  <% end %>
                <% end %>
              </li>

              <li class="dropdown" data-dropdown="dropdown" style="float:right">
                <%= link_to current_user.email, "#", :class => "dropdown-toggle" %>
                <ul class="dropdown-menu">
                  <li><%= link_to "Account settings", edit_user_registration_path %></li>
                  <li class="divider"></li>
                  <li><%= link_to "Sign out", destroy_user_session_path, :method => :delete %></li>
                </ul>
              </li>
            <% else %>
              <li>
                <%= link_to "Sign In", new_user_session_path, :class => "span2" %>
              </li>
            <% end %>
          </ul>

        </div>
      </div>
    </div>
      
    <header class="jumbotron masthead" id="overview">
    <div class="inner">
      <div class="container">
        <h1>Stupidly simple to get <em style="text-decoration: line-through">laid</em> PAID!</h1>
        <p class="lead">
          No Paypal or bank transfers. No cheques in snail mails. It's gratifying!
        </p>
        <p class="lead">
          Send your friends a link. Your friends can pay you immediately. 
        </p>
        <%= yield(:header) if content_for?(:header) %>
      </div>
    </div>
    </header>

    <div class="container">
      <% flash.each do |name, msg| %>
        <p></p>
        <%= content_tag :div, :class => "alert-message #{name} fade in", 'data-alert' => "alert" do %>
          <a class="close" href="#">×</a>
          <%= raw msg %>
        <% end %>
      <% end %>
    </div>

    <% if content_for?(:sidebar) %>
      <div class="container">
        <p></p>
        <div class="container-fluid">
          <div class="sidebar">
            <%= yield(:sidebar) %>
          </div>
          <div class="content">
            <%= content_for?(:content) ? yield(:content) : yield %>
          </div>
        </div>
      </div>
    <% else %>
      <div class="container" style="margin-top:3em;margin-bottom:3em">
        <%= content_for?(:content) ? yield(:content) : yield %>
      </div>
    <% end %>

    <footer class="footer bottombar">
    <div class="container">
      <p class="pull-right">
        <a href="#">Back to top</a>
      </p>
      <p id="broughtby">
        Brought to you by the team behind
      </p>
      <p id="broughtby-image"> <a href="http://www.socialsci.com"><%= image_tag("sociallogo-200x36.png") %></a>
    </div>
    </footer>
  </body>
</html>
<%# HACK to make dropdown work %>
<script type="text/javascript" language="javascript" charset="utf-8">
  //<![CDATA[
$(".topbar").dropdown();
//]]>
</script>

