<!DOCTYPE html>
<html>
  <head>
    <title>hipay.me</title>
    <%= stylesheet_link_tag    "application" %>
    <%= javascript_include_tag "https://js.stripe.com/v1/", "application" %>
    <%= csrf_meta_tags %>
    <%= yield(:head) if content_for?(:head) %>
  </head>
  <body>
    <div class="topbar">
      <div class="topbar-inner">
        <div class="container">
          <%= link_to root_url, :class => "brand", :style => "margin:0;padding:0" do %>
            <%= image_tag "hipaymelogotight.png", :alt => "hipay.me", :style => "height:40px;margin-right:10px;" %>
          <% end %>
          <ul class="nav">
            <% if user_signed_in? %>
              <li class="active"><%= link_to "Dashboard", dashboard_url %></li>
            <% end %>
          </ul>
          <ul style="float:right">
            <% if user_signed_in? %>
              <li style="float:right">
                <%= link_to go_live_path, :title => "You can create as many test charges as you like while unactivated. Provide account information to activate instantly.", :class => "tipsy_tooltip" do %>
                  <% if current_user.live_mode? %>
                    <span class="label success more_padding">LIVE</span>
                  <% else %>
                    <span class="label warning more_padding">DEMO</span>
                  <% end %>
                <% end %>
              </li>

              <li class="dropdown" data-dropdown="dropdown" style="float:right">
                <%= link_to current_user.email, "#", :class => "dropdown-toggle" %>
                <ul class="dropdown-menu">
                  <li><%= link_to "Account settings", edit_user_registration_path %></li>
                  <li class="divider"></li>
                  <li><%= link_to "Sign out", destroy_user_session_path, :method => :delete %></li>
                </ul>
              </li>
            <% else %>
              <li>
                <%= link_to "Sign In", new_user_session_path, :class => "span2" %>
              </li>
            <% end %>
          </ul>

        </div>
      </div>
    </div>
      
    <% unless @no_banner %>
      <header class="jumbotron masthead" id="overview">
      <div class="inner">
        <div class="container">
          <h1>Say goodbye to your paper invoices</h1>
          <p class="lead">
            No merchant accounts. Accept credit card payments in minutes!
          </p>
          <%= yield(:header) if content_for?(:header) %>
        </div>
      </div>
      </header>
    <% else %>
      <%= yield(:header) if content_for?(:header) %>
    <% end %>

    <div class="container">
      <% flash.each do |name, msg| %>
        <% if msg.present? %>
          <p></p>
          <%= content_tag :div, :class => "alert-message #{twitterized_type name} fade in", 'data-alert' => "alert" do %>
            <a class="close" href="#">×</a>
            <%= raw msg %>
          <% end %>
        <% end %>
      <% end %>
    </div>

    <div class="wrapper">
      <div class="container" style="margin-top:3em;margin-bottom:3em">
        <% if content_for?(:sidebar) %>
          <div class="leftbar">
            <%= yield(:sidebar) %>
          </div>
          <div class="rightbar">
            <%= content_for?(:content) ? yield(:content) : yield %>
          </div>
        <% else %>
            <%= content_for?(:content) ? yield(:content) : yield %>
        <% end %>
        <div class="clear"></div>
      </div>

      <div class="footer_push"> </div>
    </div>
    <footer class="footer">
    <div class="container">
      <p class="pull-right">
        <a href="#">Back to top</a>
      </p>
      <p id="broughtby">
        Brought to you by the team behind <a href="http://www.socialsci.com"><%= image_tag("sociallogo-200x36.png") %></a>
    </div>
    </footer>
  </body>
</html>
<%# HACK to make dropdown work %>
<script type="text/javascript" language="javascript" charset="utf-8">
  //<![CDATA[
$(function(){
  $(".topbar").dropdown();
})
//]]>
</script>

